// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_comment{
    border: 0.05em solid black;
    margin: 1em;
    padding: 10px;
}